* {
    margin: 0%;
    padding: 0%;

}


body {
    display: flex;
    background-image: url(IMG/img-footer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}



#container-form {
    max-width: 1280px;
    margin: 0 auto;
}

.container > form {
    opacity: 80%;
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    padding: 40px;
    height: 450px;
    border-radius: 30px;

}

.container > form >  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container >form > p {
    text-align: center;
    margin: 20px 0;
}

.input-cadastro {
    position: relative;
    margin: 34px 0;
}

.input-cadastro > label {
    font-size: 23px;
    margin: 10px;
    margin-left: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 0%;
    bottom: 5px;
    transition: all 0.3s;
    cursor: text;
}

.input-cadastro>.input {
    width: 100%;
   margin: 7px;
    height: 24px;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
}

.input-cadastro > .input:hover {
    border-bottom: 3px solid black;
}

.botao > input[type=submit]{
 padding: 15px 46px;
 border-radius: 30px;
  border: 0;
  margin-top: 8%;
  margin-left: 35%;
  background-color: rgb(207, 107, 82);
  font-size: 16px;
  color: white;
}

form > .input-cadastro > .input:focus ~ label, 
form  .input-cadastro  .input:valid ~ label {
    transform: translateY(-25px);
    font-size: 12px;
    color: #000000;
} 