* {
    padding: 0%;
    margin: 0;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
    display: flex;
    align-items: center;
    padding: 17px;
    max-height: 140px;
    width: 100%;
    height: 15vh;
    justify-content: space-around;
    background-color: rgb(134, 101, 51);
}

.menu>img {
    width: 11vw;
    height: 13vh;
   
}

.menu>h1 {
    color: rgba(255, 255, 255, 0.616);
    margin-top: 3%;
    margin-left: -3%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.menu-produtos {
    display: flex;
    list-style: none;
    margin-left: 18%;
}

.menu-produtos>ul>li>a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: 380;
    margin-right: 1rem;

}

.menu-produtos>ul>li>a:hover {
    opacity: 60%;
    cursor: pointer;
    transition: 0.7s;
}

.login > a {
    text-decoration: none;
}

.login>  a > button {
    display: flex;
    align-items: center;
    background-color: rgb(134, 101, 51);
    border: 0;
    

}



.login> a >button>p {
    font-size: 14px;
    font-weight: 500;
}

.login>  a > button:hover {
    opacity: 80%;
    cursor: pointer;
}


#baner-da-padaria {
    background-image: url(IMG/padaria.webp);
    width: 100%;
    height: 80vh;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}


.img-div {
    background-image: url(IMG/img-div.jpg);
    background-position: center;
    background-size: auto;
    padding: 27px;
}

#comentarios {
    background-color: rgb(235, 229, 214);
    padding: 14px;

}

.personage {
    display: flex;
}


.personagens {
    margin-left: 8%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#comentarios>h2 {
    text-align: center;
    margin: 20px;
    font-weight: 550;
    font-size: 30px;

}

#comentarios>.line1 {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 1%;
}



.personagens>h3 {

    flex-direction: column;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.personagens>img {
    width: 84px;
}

.personagens>.img-mulher {
    width: 63px;
}

.personagens>p {
    font-size: 22px;
    font-weight: 400;
    margin: 20px;

}

#produtos {
    background-color: rgb(229, 213, 183);
    padding: 30px;
}

#produtos>h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 30px;
}


.sessao-produtos {
    display: flex;
    justify-content: space-evenly;
}

.sessao-produtos>div>a>img {
    width: 270px;
    height: 270px;
    border-radius: 30px;
    margin: 19px;


}

.sessao-produtos>div>a {
    text-decoration: none;
}


.sessao-produtos>div>a>.titulos-dos-produtos {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

#produtos>.mais-produtos {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: 18px;

}

#produtos>.mais-produtos:hover {
    font-size: 19px;
    opacity: 70%;
    transition: 0.9s;
}

#sobre-nos {
    color: white;
    background-image: url(IMG/fundo-sobre-nos.jpg);
    padding: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


#sobre-nos>h2 {
    text-align: center;
    font-size: 39px;
    font-family: 'Times New Roman', Times, serif;
}



footer {
    padding: 33px;
    background-position: bottom;
    background-image: url(IMG/img-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer>h2 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 30px;
font-weight: 400;
}

footer>ul {
    display: flex;
  justify-content: space-around;
  list-style: none;
 
}

.intens-footer {
    display: flex;
    margin: 29px;
   

}

.intens-footer>img {
    height: 45px;
    margin-left: -9%;

}
.intens-footer > p{
   font-weight: 600;
   margin-top: 10%;
  
}

@media(max-width:430px){

    .menu-produtos{
        display: none;
    }

    .menu>img {
        width: 20%;
        height: 80%;
       
    }

    .menu>h1{
        font-size: 20px;
        margin-left: -13%;

    }

    #comentarios>.line1 {
        
        width: 90%;
       
    }
    .sessao-produtos>div>a>img  {
        margin-left: 14%;
    }

    #produtos>h2 {
        text-align: center;
        font-size: 26px;
        font-weight: 400;
        margin: 30px;
    }
    
  
    .personagens {
        margin-left: 13%;
    }
    

    .personagens>p {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        margin: 20px;
    
    }
    

    .sessao-produtos>div>a>img {
        width: 70%;
        height: 70%;
    }

    #sobre-nos {
        width: 100%;
    }
    

    #sobre-nos>p {
        font-size: 24px;
        font-weight: 350;
        margin: 45px;
    }

    #sobre-nos>h2{
        text-align: center;
    }
   
    
}
